<div class="container">
  <a routerLink="../add" class="btn btn-primary mt-3">Add User</a>
  <div class="apply-filters d-flex mt-2">
    <ng-select
      [items]="genderList"
      bindLabel="key"
      bindValue="value"
      placeholder="Gender"
      [formControl]="genderFilter"
    >
    </ng-select>
    <ng-select
      [items]="roleList"
      bindLabel="key"
      bindValue="value"
      class="ml-2"
      placeholder="Role"
      [formControl]="roleFilter"
    >
    </ng-select>
  </div>
  <div class="row mt-3" *ngIf="showList.length > 0">
    <a
      routerLink="../{{ item.id }}"
      class="card col-4 link mt-2"
      *ngFor="let item of showList"
    >
      <div>
        <b>Name</b>:{{ item.name }}<br />

        <b>Email</b>:{{ item.email }}<br />
        <b>Mobile</b>:{{ item.mobile }}<br />
        <b>Gender</b>:{{ item.gender }} <br /><b>Role</b>:{{ item.role }}<br />
      </div>
    </a>
  </div>
</div>
